footer{
    padding: 1%;
    border:5px solid rgb(255, 255, 255);
    background-color: rgb(118, 197, 223);
    display: inline-block;
    width: 100vw;
    
}

#footer{
    bottom: 0px;
}
/* 
#footer_section{
    border:none;
} */

#footer_section a{
    width: 100%;
    height: 40px;
    display:inline-block;
}

.icons{
    width: 10%;
    height: 10%;
    display:inline-block;
}

span{
    display: inline-block;
    font-size: 200px;
}
footer section div{
    display: flex;
    flex-direction: row;
    align-content: center;
}