#home_body{
    margin: 0px;
}

section{
    box-sizing: border-box;
    margin-top: 20px;
    height: 80%;
    display:inline-block;
}

h2{
    display: block;
}

section img{
    width:60%;
    height: 50%;
    border-radius: 60%;
}

section p{
    display: flex;
    flex-wrap: wrap;
    font-size: 150%;
    font-weight: bolder;
    width:30%;
    height: 60%;
    border-left: solid black;
    padding: 20px;
    float: right;
}

