html{
    width: 100%;
    height: 100%;
}

body{
    box-sizing: border-box;
    margin: .5%;
    background-color: rgb(220, 213, 213);
}
a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(6, 6, 6);
}


/* PAGE HEADING */
#top{

    padding: 1% 1% 0% 1%;
    height:2%;
    display:grid;
    grid-template-columns: 1fr 10fr;
    grid-template-rows: 60%;
    border: green dashed;
    
}

#button{

    border: green solid;
    padding: auto;
    align-items: center;
}

#button > img{
    margin:10% 10% 10% 20%;
}

img[alt='menu']{
    align-self: center;
}
#top_mid{
    padding: 1%;
    background-color: yellowgreen;
}

#top_mid > img{
    margin: 0px 0px 0px 20%;
    height: 100%;
    width: 30%;
    background-color: blue;
    
}


/* SECTION */

section{
    display: flex;
    align-items: center;
    justify-content: center;
}




 /*MAIN SECTION */


#page section{
    width: 100%;
    padding: 5% 1%;
}

#main{
    /* background-color: yellow; */
    display: grid;
    grid-template-columns: 1fr 15fr;
    --cust-size :40px;
}

#main >div{
    display: inline-block;
    border:black;
    border-style: dotted;
}

a{
    text-decoration: none;
    color: rgb(236, 236, 22);
    font-size: 90%;
}





/* SUB-MENU */

#sub_menu{
    display:flex;
    flex-direction: column;
    padding: .5%;
    background-color: rgb(110, 106, 106);
}

#sub_menu >img{
    width: 100% ;
}

#sub_menu ul{
    padding: 0px;
    margin :0px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    width: 200px;
    /* transform:translate(-120px); */
    visibility: visible;
}

#sub_menu ul li{

    width: 100%;
    list-style: none;
    margin : 5% 0% 15% 0%;
}


/* MAIN PAGE */

#page{
    width: 100%;
}

#page section{
    width: 100%;
    height: auto;
    padding: 5% 1%;
    position:absolute;
}

#home{
    font-size:xx-large;
    font-weight: bolder;
    display: unset;
    font-family: Arial, Helvetica, sans-serif;
    visibility: hidden;
}

#view{
    font-size: xx-large;
    font-weight: bolder;
    visibility: hidden;
   
}

#request{
    display: unset;
    padding-left: 5%;
    visibility: hidden;    
}

#log{
    visibility: hidden;
}
